/*
1-!important
2-ID
3-CLASS
4-SELECTOR/ETIQUETA
*/

/*FORMATEO DE DOC*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: none;
    text-decoration: none;
}

ul , li {
    
    display: flex;
    align-items: center;

}

a {
    text-decoration: none;
}

#main {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
}

/* Main Portada*/
h1 {
    font-size: 30px;
    text-align: center;
}

body {
    max-width: 1920px;
    background-color: white;
}

.img_inicio {
    height: 100vh;
    object-fit: cover
}



/*ESTILOS NAVBAR/HEADER*/
#header {
    width: 100%;
    height: 100px;
    background-color: #14A69C;
}

#nav {
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: #14A69C
}

.img_logo {
    width: 100px;
    height: 100px;
    gap: 30px;
}

.img_Banner1 {
    height: 200px;
    gap: 30px;
    

}


.navBar_ul li a {
    font-size: 20px;
    color: black;
}



/*ESTILOS FOOTER*/

#footer {
    margin-top: auto;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #14A69C;
    align-items: center;
    justify-content: space-around;
}


.footer_logo img {
    width: 100px;
}



.footer_Banner{
    height: 100px;
    gap: 30px;
}

.footer_links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.footer_redes img{
    height: 100px;
    object-fit: cover;

}





.caja {
    width: 300px;
    height: 300px;
    background-color: red;
    margin: 50px auto;


    padding: 20px;
    border: 2px red;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;
}

.image-grid img {
    width: 100%;
    height: auto;
    vertical-align: center;
  }

.img_Contacto img{
    width: 100%;
    object-fit: cover;
    align-items: end;
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}